<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658687609050-rbu75cu0l6k38965sl8h88v65vpvl7ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658687609050-rbu75cu0l6k38965sl8h88v65vpvl7ha</string>
	<key>API_KEY</key>
	<string>AIzaSyAktBXvSVUx5JfTlNR8tXD-bV9fhU_202M</string>
	<key>GCM_SENDER_ID</key>
	<string>658687609050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.investitacademy.linum</string>
	<key>PROJECT_ID</key>
	<string>linum-5d9f6</string>
	<key>STORAGE_BUCKET</key>
	<string>linum-5d9f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658687609050:ios:675b7883f5eb12a9b63de3</string>
</dict>
</plist>